<!doctype html>
<html dir="ltr" lang="en" class="no-js">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />

{% if template == "product" %}
<meta name="keywords" content="{% for tag in product.tags %} {{tag}} | {% endfor %}" />
<meta name="description" content="{{ product.description | strip_html | truncate: 140 }}" />
{% endif %}

<link rel="alternate" type="application/rss+xml" title="{{shop.name}} | Blog" href="/blogs/news.atom" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ 'sitemap.xml' | asset_url }}" />

<title>
	{% if template == "page" %}
		{{page.title}} | 
	{% elseif template == "blog" %}
		{{blog.title}} | 
	{% elseif template == "collection" %}
		{{collection.title}} | 
	{% elseif template == "product" %}
		{{product.title}} | 
	{% elseif template == "article" %}
		{{article.title}} | 
	{% endif %}
	{{shop.name}}
</title>

<link rel="stylesheet" href="{{ 'reset.css' | asset_url }}" media="screen" />
<link rel="stylesheet" href="{{ 'style.css' | asset_url }}" media="screen" />
<link rel="stylesheet/less" href="{{ 'control.less' | asset_url }}" media="screen" />

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'apple-touch-icon-114x114-precomposed.png' | asset_url }}">

<!-- give life to HTML5 objects in IE -->
<!--[if lte IE 8]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- js HTML class -->
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

{{ content_for_header }}

</head>
<body>
<!-- begin markup -->


<header id="header">
	<h1 id="logo"><a href="/">{{shop.name}}</a></h1>

	<div id="misc-links">
		<ul class="info-links">
			{% for link in linklists.top-menu.links %}
			<li><a href="{{link.url}}">{{link.title}}</a></li>
			{% endfor %}
		</ul>

		<div class="account-links">
			<ul>
				{% for link in linklists.account-menu.links %}
				<li><a href="{{link.url}}">{{link.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="check">
		<a href="/cart/" id="view-cart">
			<strong>Your Cart</strong>
			{% if cart.item_count == 0 %}
			<em>(0) items - $0.00</em>
			{% else %}
			<em>({{ cart.item_count }}) {{ cart.item_count | pluralize: 'item', 'items' }} - {{cart.total_price | money_with_currency }}</em>
			{% endif %}
		</a>

		<form id="search" action="/search" method="get">
			<p>
				<input type="text" class="text" name="search-text" placeholder="Search Site" />
				<input type="submit" class="submit" value="Submit" />
			</p>
		</form>

	</div>
</header><!-- e: header -->


<nav id="nav">
	<ul>
		{% for link in linklists.main-menu.links %}
			<li><a href="{{link.url}}">{{link.title}}</a></li>
		{% endfor %}
	</ul>
</nav><!-- e: nav -->



{{ content_for_layout }}



<footer id="footer">
	<div class="foot-col">
		<h5>General Information</h5>
		<ul>
		{% for link in linklists.info-menu.links %}
			<li><a href="{{link.url}}">{{link.title}}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="foot-col">
		<h5>Socialize with us</h5>
		{% if settings.facebook %}
			<a href="{{ settings.facebook }}" class="facebook">Like on Facebook</a>
		{% endif %}
		{% if settings.twitter %}
		<a href="{{ settings.twitter }}" class="twitter">Follow on Twitter</a>
		{% endif %}
	</div>

	<div class="foot-col">
		<h6>Stay connected</h6>
		<p>Sign up and get all the latest offers and news straight to your inbox.</p>
		<form action="" method="post">
			<p>
				<input type="text" class="text" value="Enter your email address" />
				<input type="submit" class="submit" value="Sign Up" />
			</p>
		</form>
	</div>
</footer><!-- e: footer -->


<div id="global-info">
	<p>
		<strong>&copy; 2012 Shopify Store</strong>
		{% for link in linklists.bottom-menu.links %}
			<a href="{{link.url}}">{{link.title}}</a>
		{% endfor %}
		<span>Website designed and built by <a href="#">developer</a></span>
	</p>

	<div class="to-top">
		<a href="#header">To Top</a>
	</div>
</div><!-- e: global info -->



<!-- site JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ 'jquery-1.6.4.min.js' | asset_url }}"><\/script>')</script>
<script src="{{ 'plugins.js' | asset_url }}"></script>
<script src="{{ 'script.js' | asset_url }}"></script>

<!-- for development only -->
<script src="{{ 'dev.js' | asset_url }}"></script>

<!-- third party js -->


{% if settings.analytics %}
<script>
    var _gaq=[['_setAccount','UA-{{ settings.analytics }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endif %}

</body>
</html>